* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
  background-color: rgb(114, 79, 47);
}

.logo {
  color: rgb(199, 199, 199);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links a {
  text-decoration: none;
  color: rgb(199, 199, 199);
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (max-height: 500px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(199, 199, 199);
  }
}
